**Question: Check if a number is both even and greater than 10**

In [1]:
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a number is both even and greater than 10
Number: 16
Is even: True
Is greater than 10: True
Both conditions: True
--------------------------------------------------

**Question 1: Check if 25 is greater than 20 and less than 30**

In [2]:
print("Question 1: Check if 25 is greater than 20 and less than 30")
print(20<25<30)

Question 1: Check if 25 is greater than 20 and less than 30
True

**Question 2: Check if string "python" is equal to "Python" (case sensitive)**

In [3]:
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")

print('python'=='Python')

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
False

**Question 3: Check if 15 is divisible by both 3 and 5**

In [4]:
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")

print(True if 15%3==0 and 15%5==0 else False)

Question 3: Check if 15 is divisible by both 3 and 5
True

**Question 4: Check if 7 is not equal to 8**

In [6]:
print("\nQuestion 4: Check if 7 is not equal to 8")
print(7!=8)

Question 4: Check if 7 is not equal to 8
True

**Question 5: Check if 100 is greater than 50 or less than 25**

In [7]:
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")

print(50<100 or 100<25)

Question 5: Check if 100 is greater than 50 or less than 25
True

**Question 6: Check if 0 is falsy in Python**

In [8]:
print("\nQuestion 6: Check if 0 is falsy in Python")

if 0:
  print('True')
else:
  print('False')

Question 6: Check if 0 is falsy in Python
False

**Question 7: Check if empty string "" is falsy in Python**

In [9]:
print("\nQuestion 7: Check if empty string '' is falsy in Python")

if '':
  print("0 is truthy")
else:
  print('0 if falsy')

Question 7: Check if empty string '' is falsy in Python
0 if falsy

**Question 8: Check if 42 is truthy in Python**

In [10]:
print("\nQuestion 8: Check if 42 is truthy in Python")

if 42:
  print('42 is truthy')
else:
  print('42 is falsy')

Question 8: Check if 42 is truthy in Python
42 is truthy

**Question 9: Check if 10 is between 5 and 15 (inclusive)**

In [11]:
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")

print(5<=10 and 10<=15 )

Question 9: Check if 10 is between 5 and 15 (inclusive)
True

**Question 10: Check if 3.14 is greater than 3 and less than 4**

In [12]:
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")
print(3.14>3 and 3.14<4)

Question 10: Check if 3.14 is greater than 3 and less than 4
True