**Count how many vowels are in a given string.**

In [2]:
string1=input('Enter the string!:')
vowels=('a','e','i','o','u')

count=0
for ch in string1:
  if ch in vowels:
    count+=1

print(f'count of vowels:{count}')

Enter the string!:Hello
count of vowels:2

**Reverse a number using only a for loop (no slicing).**

In [5]:
num=1234567
rev=0
for i in range(len(str(num))):
  digit=num%10
  rev=rev*10+digit
  num=num//10

print(rev)

7654321

**Find the sum of digits of a number.**

In [8]:
num=12345
sum=0
for n in str(num):
  sum=sum+int(n)
print(sum)

15

**Print all even numbers between 1 and 100 using a for loop.**

In [12]:
for i in range(1,101):
  if i%2==0:
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

**Find the factorial of a number.**

In [16]:
num=int(input('Enter a number:'))
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

Enter a number:5
120

**Check whether a number is prime using a for loop.**

In [2]:
num=int(input('Enter a num:'))
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break
else:
     print("given number is prime number")

Enter a num:13
given number is prime number

**Print the multiplication table of a number up to 10.**

In [4]:
num=int(input('Enter the multiplication table num:'))
for i in range(1,11):
  print(f'{num}x{i}={num*i}')

Enter the multiplication table num:5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

**Count how many digits are in a number.**

In [12]:
num=int(input('Enter a num:'))
count=0
if num==0:
  count=1
else:
  while num>0:
    num=num//10
    count=count+1
print(f'count of digits is:{count}')

Enter a num:12345
count of digits is:5

**Find the largest number in a list.**

In [21]:
numbers=[10,20,30,40,50]
largest=num[0]

for i in numbers:
  if i>largest:
    largest=i

print('largest number in list:',largest)

largest number in list: 50

Print the following pattern for n = 4:

★

★★

★★★

★★★★

In [24]:
n=int(input('Enter a number:'))
for i in range(1,n+1):
  print('*'* i)

Enter a number:4
*
**
***
****

From 1 to 50, find:
a) sum of even numbers

b) sum of odd numbers

In [26]:
sum_even=sum(range(2,51,2))
sum_odd=sum(range(1,51,2))
print(f'sum of even={sum_even}')
print(f'sum of odd={sum_odd}')

sum of even=650
sum of odd=625

In [28]:
sum_even=0
sum_odd=0

for i in range(1,51):
  if i%2==0:
    sum_even=sum_even+i
  else:
    sum_odd=sum_odd+i

print(sum_even)
print(sum_odd)

650
625

**Remove all spaces from a string. Example: "data science rocks" → "datasciencerocks"**

In [30]:
string= "data science rocks"
new_string=string.replace(' ','')
print(new_string)

datasciencerocks

**Check whether a string is a palindrome. Example: "madam"**

In [31]:
string=input('Enter a string:')
if string==string[::-1]:
  print('Palindrome')
else:
  print('Not Palindrome')

Enter a string:madam
Palindrome

**Find duplicate values in a list. Example: [1,2,3,2,4,5,1]**

In [32]:
numbers=[1,2,3,2,4,5,1]
new_list=[]

for num in numbers:
  if num not in new_list:
    new_list.append(num)
print(new_list)

[1, 2, 3, 4, 5]

**Print the frequency of each character in a string. Example: "banana"**

In [36]:
string="banana"
freq=" "

for ch in string:
  if ch not in freq:
    print(ch,":",string.count(ch))
    freq=freq+ch

b : 1
a : 3
n : 2