**Calculate the sum of first 5 even numbers**

In [ ]:
first_5_even = [2, 4, 6, 8, 10]
sum_even = sum(first_5_even)
print(f"First 5 even numbers: {first_5_even}")
print(f"Sum: {sum_even}")

First 5 even numbers: [2, 4, 6, 8, 10]
Sum: 30

**Calculate the product of first 10 natural numbers**

In [ ]:
num=1
for i in range(1,11):
  num =num*i
print(f"product of first 10 natural numbers:{num}")

product of first 10 natural numbers:3628800

 **Find the remainder when 156 is divided by 7**

In [ ]:
num=156
remainder=156%7
print(remainder)

2

**Calculate the square of 25**

In [ ]:
num=25
result=25**2
print(f"result:{result}")

result:625

**Find the cube root of 125**

In [ ]:
num=125
cube=num*num*num
print(cube)

1953125

**Calculate the sum of digits in number 12345**

In [ ]:
num=12345
n=str(num)
sum=0
for i in n:
  sum=sum+int(i)
print(sum)

**Check if 97 is a prime number**

In [ ]:
num=97
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break
else:
     print("given number is prime number")

**Find the factorial of 8**

In [ ]:
num=8
fact=1
for i in range(1,num+1):
  fact=fact*i
print(fact)

**Calculate the average of numbers: 15, 23, 31, 42, 56**

In [ ]:
num=[15,23,31,42,56]
length=len(num)
sum=0
for i in num:
  sum=sum+i

average=sum/length
print(f"Average of {sum}/{length}:",average)

**Find the greatest common divisor (GCD) of 48 and 36**

In [ ]:
print("\nQuestion 9: Find the greatest common divisor (GCD) of 48 and 36")
import math
result=math.gcd(48,36)
print(result)

**Calculate the sum of first 20 odd numbers**

In [ ]:
print("\nQuestion 10: Calculate the sum of first 20 odd numbers")

sum=0
for i in range(1,40,2):
  sum=sum+i
print(f"sum of first 20 odd numbers:{sum}")

Question 10: Calculate the sum of first 20 odd numbers
sum of first 20 odd numbers:400