**Question: Find the maximum and minimum values in a list**

In [ ]:
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------


**Question 1: Create a list of first 10 square numbers**

In [ ]:
print("Question 1: Create a list of first 10 square numbers")
num=[1,2,3,4,5,6,7,8,9,10]
#square_num=[x**2 for x in range(1,11)]
square_num=list(map(lambda x:x**2,num))
print(square_num)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

In [ ]:
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even=0

for i in num:
  if i%2==0:
    sum_even=sum_even+i
print(sum_even)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
30

**Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]**

In [ ]:
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
num=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
n_list=[]

for i in num:
  if i not in n_list:
    n_list.append(i)
print(n_list)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

**Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order**

In [ ]:
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")

list=[64, 34, 25, 12, 22, 11, 90]
sorted_list=sorted(list,reverse=True)
print(sorted_list)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

**Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]**

In [ ]:
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")

num=[15, 23, 31, 42, 56, 78, 91]
avg_num=sum(num)/len(num)
avg_num

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

48.0

**Question 6: Create a list of first 15 Fibonacci numbers**

In [ ]:
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")

fib=[]

a=0
b=1
for _ in range(16):
  fib.append(a)
  a,b=b,b+a
print(fib)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

**Find the second largest number in [45, 67, 23, 89, 12, 34, 78]**

In [ ]:
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
num=[45, 67, 23, 89, 12, 34, 78]
sorted_numbers=sorted(num,reverse=True)
second_largestnum=sorted_numbers[1]
print(second_largestnum)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

**Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]**

In [ ]:
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse_list=list[::-1]
print(reverse_list)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]**

In [ ]:
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")

list=[1, 5, 2, 5, 3, 5, 4, 5, 6]
count=0

for i in list:
  if i==5:
    count=count+1
print(count)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

**Question 10: Create a list of prime numbers between 1 and 50**

In [ ]:
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")

list=[]

for num in range(1,50):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:

      list.append(num)

print(list)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

**Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]**

In [ ]:
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

nest_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flatten=[]

for sublist in nest_list:
  for num in sublist:
    Flatten.append(num)

print(Flatten)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]


**Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]**

In [ ]:
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
common_elements=set(list1)&set(list2)
print(common_elements)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
{4, 5}

In [ ]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
list3=[]
for i in list1:
  if i in list2:
    list3.append(i)
print(list3)

[4, 5]

**Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]**

In [ ]:
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")

list1=[[1, 2], [3, 4], [5, 6]]
print(list1)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

**Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]**

In [ ]:
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

list1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum=0
for i in list1:
  for item in i:
    sum=sum+item
print(sum)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
45

**Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]**

In [ ]:

print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
list1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = []
for i in range(len(list1[0])):
    row = []
    for j in range(len(list1)):
        row.append(list1[j][i])
    transposed.append(row)

print(transposed)

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

**Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]**

In [ ]:
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")


list1=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_val=[]
for i in list1:
  max_val.append(max(i))
print(max_val)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
[5, 9, 8]

**Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]**

In [ ]:
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

list_3d=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(list_3d)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

**Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]**

In [ ]:
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

list_3d=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum=0

for i in list_3d:
  for j in i:
    for item in j:
      sum=sum+item
print(sum)

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
36

**Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]**

In [ ]:
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
evens = []
for i in list1:
    for num in i:
        if num% 2==0:
            evens.append(num)
print(evens)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

**Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]**

In [ ]:
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")

list_mix=[1, "hello", 3.14, True, [1, 2, 3]]
print(list_mix)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
[1, 'hello', 3.14, True, [1, 2, 3]]

**Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]**

In [ ]:
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

string1=["apple", "banana", "cherry", "date"]
length_str=[]
for i in string1:
  length_str.append(len(i))
print(length_str)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
[5, 6, 6, 4]

**Question22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]**

In [ ]:
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")

list1=[(1, 'a'), (2, 'b'), (3, 'c')]
tup_list=[]
for i in list1:
  for j in i:
    tup_list.append(j)

print(tup_list)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
[1, 'a', 2, 'b', 3, 'c']

**Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]**

In [ ]:
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")

list1=[(1, 'a'), (2, 'b'), (3, 'c')]
first_ele=[]

for i in list1:
  for j in i:
    first_ele.append(j)
    if j==1 or j==2 or j==3:
      break

print(first_ele)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
[1, 2, 3]

**Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]**

In [ ]:
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")

list_dict=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(list_dict)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

**Question 25: Extract all 'name' values from list of dictionaries**

In [ ]:
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
list_dist=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for i in list_dist:
  print(i['name'])

Question 25: Extract all 'name' values from list of dictionaries
Alice
Bob

**Question 26: Find the person with maximum age in list of dictionaries**

In [ ]:
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")

list_dist=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

for i in list_dist:
  if i['age']>25:
    print(i['name'])

Question 26: Find the person with maximum age in list of dictionaries
Bob

**Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]**

In [ ]:
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
list_4d= [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(list_4d)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

**Question 28: Find the maximum value in 4D list**

In [ ]:
print("\nQuestion 28: Find the maximum value in 4D list")

list_4d=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
maximum=0
for i in list_4d:
    for j in i:
        for k in j:
            for l in k:
                if maximum<l:
                    maximum=l
print(maximum)

Question 28: Find the maximum value in 4D list
16

**Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]**

In [ ]:
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")

list_sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(list_sets)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

**Question 30: Find the union of all sets in list of sets**

In [ ]:
print("\nQuestion 30: Find the union of all sets in list of sets")
list_sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union_sets=set()
for i in list_sets:
  union_sets=union_sets.union(i)
print(union_sets)

Question 30: Find the union of all sets in list of sets
{1, 2, 3, 4, 5, 6, 7, 8, 9}

**Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]**

In [ ]:
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")

list_cmplx=[1+2j, 3+4j, 5+6j]
print(list_cmplx)

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
[(1+2j), (3+4j), (5+6j)]

**Question 32: Find the magnitude of each complex number in list**

In [ ]:
print("\nQuestion 32: Find the magnitude of each complex number in list")

list_cmplx=[1+2j, 3+4j, 5+6j]
magnitude=[]
for i in list_cmplx:
  magnitude.append(abs(i))
print(magnitude)

Question 32: Find the magnitude of each complex number in list
[2.23606797749979, 5.0, 7.810249675906654]

**Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]**

In [ ]:
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
nes_list=[1, [2, 3], [4, [5, 6]], 7]
print(nes_list)

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
[1, [2, 3], [4, [5, 6]], 7]

**Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]**

In [ ]:
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")

nest_list= [1, [2, 3], [4, [5, 6]], 7]

**Question 35: Create a list of functions: [len, str, int, float]**

In [ ]:
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")
list_funct=[len, str, int, float]
print(list_funct)

Question 35: Create a list of functions: [len, str, int, float]
[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

**Question 36: Apply each function in list to string "123"**

In [ ]:
print("\nQuestion 36: Apply each function in list to string '123'")

list_funct=[len, str, int, float]
for i in list_funct:
  print(i('123'))

Question 36: Apply each function in list to string '123'
3
123
123
123.0

**Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]**

In [ ]:
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")

list_lamb=[lambda x: x*2, lambda x: x2, lambda x: x+1]
print(list_lamb)

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
[<function <lambda> at 0x7b31331611c0>, <function <lambda> at 0x7b3133161300>, <function <lambda> at 0x7b3133161120>]

**Question 38: Apply each lambda function to 5**

In [ ]:
print("\nQuestion 38: Apply each lambda function to 5")

lambda_funct=[lambda x: x*2, lambda x:x**2, lambda x: x+1]
x=5

for i in lambda_funct:
  print(i(x))

Question 38: Apply each lambda function to 5
10
25
6

**Question 39: Create a list of classes: [list, dict, set, tuple]**

In [ ]:
print("\nQuestion 39: Create a list of classes")

list_class=[list, dict, set, tuple]
print(list_class)

Question 39: Create a list of classes
[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

**Question 40: Create instances of each class in list**

In [ ]:
print("\nQuestion 40: Create instances of each class in list")

list_class=[list, dict, set, tuple]

for cls in list_class:
  print(cls())

Question 40: Create instances of each class in list
[]
{}
set()
()

In [ ]:
list_class=[list, dict, set, tuple]
instances=[]
for i in list_class:
  if i==list:
    instances.append([])
  elif i==dict:
    instances.append({})
  elif i==set:
    instances.append(set())
  elif i==tuple:
    instances.append(())
print(instances)

[[], {}, set(), ()]

**Question 41: Create a list of None values: [None, None, None, None]**

In [ ]:
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")

list_none= [None, None, None, None]
print(list_none)

Question 41: Create a list of None values: [None, None, None, None]
[None, None, None, None]

**Question 42: Replace all None values with 0 in list**

In [ ]:
print("\nQuestion 42: Replace all None values with 0 in list")

list_none= [None, None, None, None]
for i in range(len(list_none)):
  if list_none[i] is None:
    list_none[i]=0
print(list_none)

Question 42: Replace all None values with 0 in list
[0, 0, 0, 0]

In [ ]:
#using list comprehesion

list_none=[None, None, None, None]
list_none=[0 if x is None else x for x in list_none]
print(list_none)

[0, 0, 0, 0]

In [ ]:
#using lambda

list_none=[None, None, None, None]
list_none=list(map(lambda x:0 if x is None else x, list_none))
print(list_none)

[0, 0, 0, 0]

**Question 43: Create a list of boolean values: [True, False, True, False]**

In [ ]:
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")

list_bool= [True, False, True, False]
print(list_bool)

Question 43: Create a list of boolean values: [True, False, True, False]
[True, False, True, False]

**Question 44: Count True values in boolean list**

In [ ]:
print("\nQuestion 44: Count True values in boolean list")

list_bool= [True, False, True, False]
count=0

for i in list_bool:
  if i==True:
    count+=1
print(count)

Question 44: Count True values in boolean list
2

**Question 45: Create a list of ranges: [range(3), range(5), range(2)]**

In [ ]:
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")

list_ranges=[range(3), range(5), range(2)]
print(list_ranges)

Question 45: Create a list of ranges: [range(3), range(5), range(2)]
[range(0, 3), range(0, 5), range(0, 2)]

**Question 46: Convert each range to list**

In [ ]:
print("\nQuestion 46: Convert each range to list")

list_ranges=[range(3), range(5), range(2)]
list_ofrange=[]

for i in list_ranges:
  list_ofrange.append(list(i))
print(list_ofrange)

Question 46: Convert each range to list
[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

**Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]**

In [ ]:
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")

list_gen=[(x for x in range(3)), (x for x in range(5))]
print(list_gen)

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
[<generator object <genexpr> at 0x7b3140647a00>, <generator object <genexpr> at 0x7b3140647040>]

**Question 48: Convert each generator to list**

In [ ]:
print("\nQuestion 48: Convert each generator to list")

list_gen=[(x for x in range(3)), (x for x in range(5))]
convert_list=[]
for i in list_gen:
  convert_list.append(list(i))

print(convert_list)

Question 48: Convert each generator to list
[[0, 1, 2], [0, 1, 2, 3, 4]]

**Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]**

In [ ]:
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")

list_iterators=[iter([1, 2, 3]), iter([4, 5, 6])]
print(list_iterators)

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
[<list_iterator object at 0x7b3118155c30>, <list_iterator object at 0x7b311812d510>]

**Question 50: Extract all elements from each iterator**

In [ ]:
print("\nQuestion 50: Extract all elements from each iterator")

list_iterator=[iter([1, 2, 3]), iter([4, 5, 6])]

for i in list_iterator:
  print(list(i))

Question 50: Extract all elements from each iterator
[1, 2, 3]
[4, 5, 6]