**Question: Find the union of two sets**

In [1]:
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

**Question 1: Create a set of first 10 natural numbers**

In [2]:
print("Question 1: Create a set of first 10 natural numbers")

natural_num=set(range(1,11))
print(natural_num)

Question 1: Create a set of first 10 natural numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Question 2: Add element 11 to set {1, 2, 3, 4, 5}**

In [3]:
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")

ele={1, 2, 3, 4, 5}
ele.add(11)
print(ele)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

**Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}**

In [5]:
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")

ele={1, 2, 3, 4, 5, 6}
ele.remove(3)
print(ele)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

**Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}**

In [6]:
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")

set1= {1, 2, 3, 4, 5}
set2={4, 5, 6, 7, 8}
print(set1.intersection(set2))

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{4, 5}

**Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}**

In [7]:
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")

set1={1, 2, 3, 4, 5}
set2= {4, 5, 6, 7, 8}
print(set1-set2)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{1, 2, 3}

**Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}**

In [8]:
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")

set1={1, 2, 3, 4, 6, 7, 8}
print(5 in set1)

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
False

**Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}**

In [9]:
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")

set1={'a', 'b', 'c', 'd', 'e'}
print(len(set1))

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
5

**Question 8: Create a set of vowels from string "hello world"**

In [13]:
print("\nQuestion 8: Create a set of vowels from string 'hello world'")

text = 'hello world'
vowels = {'a', 'e', 'i', 'o', 'u'}

vowel_set = set(char for char in text if char in vowels)
print(vowel_set)

Question 8: Create a set of vowels from string 'hello world'
{'e', 'o'}

**Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set**

In [15]:
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")

list_dupli=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print(list(set(list_dupli)))

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
[1, 2, 3, 4, 5, 6, 7]

**Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}**

In [16]:
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")

s1={1, 2, 3}
s2={1, 2, 3, 4, 5, 6}
print(s1.issubset(s2))

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
True