# TUPLE DATATYPE ASSIGNMENT
# ========================

# SOLVED EXAMPLE
# --------------
# Question: Find the sum and product of all elements in a tuple

In [ ]:
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

**Question 1: Create a tuple of first 10 natural numbers**

In [ ]:
print("Question 1: Create a tuple of first 10 natural numbers")

natural_num=tuple(range(1,11))
print(natural_num)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)**

In [ ]:
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
num=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length_tuple=len(num)
print(length_tuple)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

**Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')**

In [ ]:
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")

tuple_char=('a', 'b', 'c', 'd', 'e')
third_element=tuple_char[2]
print(third_element)

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
c

**Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)**

In [ ]:
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")

num=(23, 45, 12, 67, 34, 89, 56)
max_value=max(num)
print(max_value)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

**Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)**

In [ ]:
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")

num= (1, 5, 2, 5, 3, 5, 4, 5, 6)
count=0

for i in num:
  if i==5:
    count=count+1

print(count)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [ ]:
num=(1, 5, 2, 5, 3, 5, 4, 5, 6)
count_num=num.count(5)
print(count_num)

4

**Question 6: Create a tuple of mixed data types (integer, float, string, boolean)**

In [ ]:
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")

mixed_tuple=(12, 2.34, "Hello", True)
print(mixed_tuple)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(12, 2.34, 'Hello', True)

**Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')**

In [ ]:
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")

elements=('java', 'python', 'c++', 'javascript')
index_elements=elements.index('python')
index_elements

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

1

**Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)**

In [ ]:
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")

num=(10, 20, 30, 40, 50)
for i in num:
  if i==25:
    print("exists")
    break
else:
  print("not found")

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
not found

In [ ]:
check_tuple = (10, 20, 30, 40, 50)
exists_25 = 25 in check_tuple
print(exists_25)

False

**Question 9: Create a tuple of first 5 even numbers**

In [ ]:
print("\nQuestion 9: Create a tuple of first 5 even numbers")

el = []

for i in range (1, 11):
    if i % 2 == 0:
        el.append(i)
even_numbers = tuple(el)
print(even_numbers)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

**Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)**

In [ ]:
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
num_tuple = (15, 23, 31, 42, 56, 78)
average = sum(num_tuple) / len(num_tuple)
print(average)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336